/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */


html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

::selection,:--moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

    /*Internet Explorer Fixex
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none){
    
} 

    Mozilla Firefox Fixex
@-moz-document url-prefix(){
    
}*/

/*-----------------------*/ 
/*---------START---------*/ 
/*-----MEDIA QUERIES-----*/
/*-----------------------*/
@media screen and (max-width:835px){
    body ul.list li.resize {height:250px;width:250px;margin:5px;position:relative;}
}
@media screen and (max-width:585px){
    body ul.list li,body ul.list li.resize {height:250px;width:100%;;margin:5px;position:relative;}
    body ul.list li img{width:100%;}
    body div.bio ul.list-skills li{width:100px;}
}


@media screen and (max-width:3000px){/*updated to 2000 for mobile view across all viewports*/
    html header h1 {width:100%;margin:0;margin-bottom:25px;}
    body{margin-top:50px;}
    html header nav{text-align:center;}
}
@media screen and (max-width:1000px){
    body header img {background-size:650px;height:100px;}
    html div.contact img {width:100%;float:none;}
    html #contact-area{width:100%;float:none;}
    html body header nav{float:none;height:inherit;}
   /* html header {height:200px;}*/
    body div.gallery{position:relative;}
    body div.home img {width:100%;height:400px;}
}
@media screen and (max-width:900px){ 
    html body{max-width:100%;}
    html ul.main-nav li {margin:5px;}
}

@media screen and (max-width:800px){
    html body{width:100%;}
    body nav ul li {font-size:1em;}
    html body header nav {float:none;width:100%;margin:0;line-height:inherit;text-align:center;height:auto;}
    html header h1{width:100%;float:none;margin:0;}
   /*html header {height:150px;margin:0;}*/
}
@media screen and (max-width:743px){
    html ul.list-social {font-size:10px;}
    html ul.main-nav li {font-size:0;margin-left:20px;margin-right:20px;line-height:15px;}
}

@media screen and (max-width:611px){
    html div.contact div#content, html div.contact:nth-child(1),html ul.list-social{width:100%;display:block;}
    html ul.list-social{text-align:center;}
}

@media screen and (max-width:500px){
    body header img {background-size:400px;height:60px;}
    body div.gallery{position:relative;width:100%;}
    div.gallery{width:150px;}
    html body{width:100%;}
    #contact-area label,body #contact-area input,body #contact-area textarea{font-size:15px;}
    body nav ul li {margin:9px;}
    div.home p {font-size:16px;}
    html ul.main-nav li a {display:inline;margin:10px;font-size:0;line-height:15px;}
    html body header h1{font-size:20px;}
    html body header ul.main-nav li {margin:0 10px;}
    body div.home img {width:100%;height:300px;}
   
}   
@media screen and (max-width:375px){
    html body, header h1{width:100%;}
   /* html header {height:110px;margin:0;}*/
    body header h1 a /*img*/ {width:50%;height:auto!important;}
    header h1{font-size:1.6em;}
    body ul li{margin:8px;}
    h3{margin:0;padding:0;margin-bottom:20px;}
    ul.main-nav a{font-size:12px;}
   /* html header {height:120px;}*/

}
@media screen and (max-width:320px){
    ul.main-nav a{font-size:11px;}
}

    /*Landscape iPhone 6 Plus and lower (736px and lower)*/
@media screen and (max-width:736px){
html body{margin-top:0;}
}
   
   /*Cube Resizing*/
@media screen and (max-width:420px){
    div.cube-meta{font-size:10px;}
    div.cube figure {
  display: block; position: absolute;
  width: 100px; height: 100px;}
   div.stage {
  width: 100px; height: 0px;
  -webkit-perspective: 2000px;
  -webkit-perspective-origin: 50% -440px;
  display:inline-block;float:none;}
    div.cube figure.front{-webkit-transform: translateZ(50px);}
    div.cube figure.back { -webkit-transform: rotateY(180deg)translateZ(50px);}
    div.cube figure.top { -webkit-transform: rotateX(90deg) translateZ(50px);}
    div.cube figure.bottom { -webkit-transform: rotateX(-90deg) translateZ(50px);}
    div.cube figure.left { -webkit-transform: rotateY(-90deg) translateZ(50px);}
    div.cube figure.right { -webkit-transform: rotateY(90deg) translateZ(50px);}

}   
   /*Font Family - Futura Condensed Light*/
@font-face {
    font-family: ;/*'FuturaCondensedLight'; font compatible in all browsers*/
    src: ;/*url('../fonts/FuturaStd-CondensedLight.woff'); format('woff');*/
    font-weight: normal;
    font-style: normal;
}
/*-----------------------*/ 
/*----------END----------*/ 
/*-----MEDIA QUERIES-----*/
/*-----------------------*/
header img{
    background:url(../content/header.gif);
    background-position:top center;
    height:200px;
    width:100%;
    display:block;
}
body{
    font-family:Helvetica;
    font-weight:bold;
    text-transform:uppercase;
    max-width:1200px;
    margin: 0 auto;
    }
nav a {font-family:Helvetica;}
nav{x-overflow:none;background-color:green;}
ul.main-nav li{margin:0 20px;line-height:50px;}
ul.main-nav li a {margin:5px;}
ul.main-nav li{display:inline;white-space:nowrap;}
    
/*-----------------------*/ 
/*---------START---------*/ 
/*----GALLERY CHANGES----*/
/*-----------------------*/ 
div.gallery{
    margin:0 auto;
    position:relative;
}
.container{
    background-color:transparent;
    margin:0 auto;
    text-align:center;
    position:relative;
}
.container div{
    background-color:transparent;
    width:100%;
    display:inline-block;
    display:none;
}
.container img{
    object-position:top;
    width:100%;
    object-fit:cover;
    height:300px;
}
div.container div p{margin-bottom:0;}

div.home img {width:100%;height:500px;}
div.home p {margin:10px;}

button{
    position:absolute;
    font-size:30px;
    z-index:999999;
    height:550px;
    line-height:100%;
    background-color:transparent;
    font-size:50px;
    border:none;
    transition:.5s;
    -webkit-transition: .5s;
    text-shadow: -1px 0 #ACC5C2, 0 1px #ACC5C2, 1px 0 #ACC5C2, 0 -1px #ACC5C2;
}
button:focus{
    outline:none;
}
button:hover{
    color:#ACC5C2;
    text-shadow:-1px 0 black, 0 1px black, 1px 0 black, 0 -1px black
}
.next{
    top:-5px;
    right:0px;
    height:inherit;

}
.previous{
    top:-5px;
    left:0px;
    height:inherit;
}
p{margin:0;}
span{text-transform:uppercase;display:block; /*border: solid transparent;*/}
div.container span:first-of-type{display:inline;font-style:italic;}
div.container span:last-of-type{padding-top:10px; display:block;font-size:10px;font-weight:normal;}
div.container span{font-size:14px;margin-top:10px;}
/*-----------------------*/ 
/*----------END----------*/ 
/*----GALLERY CHANGES----*/
/*-----------------------*/ 

div.container span {text-align:center;}

    /*Link Edits*/
 header nav ul a.active{color:#ACC5C2;outline:none;}
 
 a{transition:.3s;-webkit-transition:.3s;} 
 a, a:visited{text-decoration:none;color:black;}
 a:hover{color:#ACC5C2}
 
    /*Header updates*/
 h1, h2,h3{text-align:center;}
 h2{font-size:1.6em;margin-top:40px;}
 header h1 img{width:200px;line-height:110px;}
 header h1{float:left;}

    /*Nav Edits*/
ol, ul {padding:0;margin:0;}

    /*Personal Edits*/
div.home li, div.bio li {font-size:14px;font-weight:bold;display:inline-block;margin:5px;}

h2 span {color:#ACC5C2;display:inline;}
h2{color:gold;}
div.home,div.contact-area p{font-weight:bold;text-transform:initial;}
div.contact-area p{margin:0px 30px;}
form{margin-left:10px;margin-right:10px;box-sizing:border-box;}
div.home p {margin-bottom:20px;}
div.contact img {width:50%;height:auto!important;}
div.bio img {width:100%;}
div.contact{margin-top:-8px;margin:0 auto;margin-left:30px;margin-right:30px;}
.home h2 {font-size:20px;}


aside{max-width:400px;float:right;}
div.contact aside{width:50%;float:right;}

    /*Bio - Games List*/
ul {text-align:center;}
ul.list li {width:250px;height:250px;margin:5px;position:relative;}
ul.list li.resize {height:250px;width:500px;margin:5px;position:relative;}
ul.list li.resize img {width:100%;}
ul.list li:hover img{filter:none;}
ul.list img{-webkit-filter: grayscale(100%);filter:grayscale(100%);transition:.5s;-webkit-backface-visibility: hidden;backface-visibility:hidden;height:250px;width:250px;object-fit:cover;}
ul.list span{text-transform:none;transition:.5s;margin:0;padding:0;opacity:.9;position:absolute;bottom:0;text-align:center;background-color:#ACC5C2;color:black;width:100%;}

    /*Font Awesome*/
li a i.fa {font-size:1em;font-weight:bold;font-family:Helvetica;}  
li a i.fa::before {font-size:1em;font:normal normal normal 14px/1 FontAwesome;}

    /*Contact - Follow Links*/
ul.list-social{font-size:12px;width:50%;float:right;}
ul.list-social a {white-space:nowrap;}
ul.list-social li{display:block;margin-left:10px;margin-right:10px;padding:5px;}
img.reaching {width:100%;height:auto;}
div.contact div#content, div.contact:nth-child(1){width:50%;}

ul.achievements li{display:block;}
label:first-of-type{padding-top:0px;}


/*Footer*/
footer{width:100%;text-align:center;background-color:#ACC5C2;height:50px;float:left;}

    
/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


/* ==========================================================================
   Contact Page Styles
   ========================================================================== */

div.thanksmessage{text-align:center;font-family:Helvetica;}
* {
    margin: 0;
    padding: 0;
}

/*Placeholder Text Style*/
::-webkit-input-placeholder,:-moz-placeholder,::-moz-placeholder,:ms-input-placeholder{font-size:15px;font-family:Helvetica;}

.submit-button:hover{background-color:#ACC5C2;}
.submit-button{transition:.3s;-webkit-transition:.3s;}


#contact-page {
    text-align:center;
    margin: 0 auto;
    height: auto !important;
}





label, h2 {font-family:Helvetica;font-size:20px;}
#contact-area input, #contact-area textarea {
    padding: 0px 10px;
    width:100%;
    font-family: Helvetica;
    font-size: 1.4em;
    margin: 0px 0px 0px 0px;
    border: 2px solid #ccc;
    box-sizing:border-box;
    outline:none;
}
input:focus,textarea:focus{
    border: 2px solid #ACC5C2!important; 
}

#contact-area textarea {
    height: 90px;
}

#contact-area textarea:focus, #contact-area input:focus {
    border: 2px solid #900;
}

#contact-area input.submit-button {
    font-family: Helvetica;
    margin-top:10px;
    margin-bottom:30px;
    width: 100px;
    margin-left:auto;
    margin-right:auto;
    display:block;
}

label {
    display:block;
    text-align: left;
    min-width: 100px;
    width:100%;
    padding-top: 5px;
    padding-left:13px;
    font-size: 1.4em;
}

/*radio and checkbox styling*/
#contact-area form label#special-input{
    font-size:12px;
     display:inline;
}

#contact-area form label#special-input input{
    width:20px;
}

 /*Cube Styling*/
 .stage {
  width: 250px; height: 250px;
  -webkit-perspective: 2000px;
  -webkit-perspective-origin: 50% -440px;
  display:inline-block;float:none;
}
div.stage{padding: 0 10px 0 10px;
    margin:50px auto 300px auto;;display:block;
}
.figure{transform:scale(.5);}
figure {
  display: block; position: absolute;
  width: 300px; height: 300px;}
.cube { -webkit-transform-style: preserve-3d; width:100%;height:100%;}
figure { -webkit-transform-origin: 50% 50% 0;}
.stage figure{background:url(../content/games/KingdomHearts.gif);background-position:center;background-size:cover;}

    /*Cube Side Styling*/
.front{-webkit-transform: translateZ(150px);}
.back { -webkit-transform: rotateY(180deg)translateZ(150px);}
.top { -webkit-transform: rotateX(90deg) translateZ(150px);}
.bottom { -webkit-transform: rotateX(-90deg) translateZ(150px);}
.left { -webkit-transform: rotateY(-90deg) translateZ(150px);}
.right { -webkit-transform: rotateY(90deg) translateZ(150px);}

@-webkit-keyframes rotateY {
  0% { -webkit-transform: rotateX(0) rotateY(0) rotateZ(0)}
  100% { -webkit-transform: rotateX(0deg) rotateY(360deg) rotateZ(0deg);}
}
.stage:nth-child(2) {filter:none;}
.stage:nth-child(3) {filter:invert(100%);}
.stage:nth-child(4) {filter:grayscale(100%);}
.stage:nth-child(5) {filter:hue-rotate(90deg);}
.stage:nth-child(2) .cube,.stage:nth-child(4) .cube { -webkit-animation: rotateY 10s infinite linear;}
.stage:nth-child(3) .cube,.stage:nth-child(5) .cube { -webkit-animation: rotateY 10s infinite linear reverse}
.stage figure{transition:.7s;-webkit-transition:.7s;}
figure:before, figure:after {
  content: ""; display: block; position: absolute;
  width: 100%; height: 100%; opacity: 0;
}
figure:before {
  background: -webkit-radial-gradient(top left, rgba(0, 0, 0, 0.5), #000000);
}
figure:after {
  background: -webkit-radial-gradient(top right, rgba(0, 0, 0, 0.5), #000000);
}
@-webkit-keyframes frontShading1 {
  2% { opacity: 0; }
  25% { opacity: 0.6; }
  35% { opacity: 0.6; }
  50% { opacity: 0; }
}

div.bio figure:before { -webkit-animation: frontShading1 1s infinite linear; }


.bottom {
  -webkit-box-shadow: 0 10px 100px rgba(0, 0, 0, 0.7);
  background-color: rgba(0, 0, 0, 0);
}
div.test{overflow:hidden;background-color:gray;width:100%;}
.cube-meta{color:red;position:absolute;text-align:center;width:100%;font-size:25px;}
.test h3:hover {
    -webkit-transform:rotate(360deg) ;
    transform:rotate(360deg);
    -webkit-transition:2s ;
    transition:2s ;}


/*Blog Notes*/
div.blog {width:100%;}
div.blog div {transition:.5s;-webkit-transition:.5s;width:100%;height:100%;background-color:white;text-transform:none}
div.blog div span {display:inline-block;height:40px;width:50%;padding:5px 5px 5px 10px;box-sizing:border-box;color:red;text-transform:none}
div.blog div span:nth-child(1){float:left;text-align:left;}
div.blog div span:nth-child(2){float:right;text-align:right;}
div.blog div div {padding:5px;box-sizing:border-box;color:black;border-bottom:1px solid black;}
div.blog-notes:hover {background-color:#ACC5C2;}
div.blog-notes p {margin:10px;}

